* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}
#page {
    /* background-color: blue; */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% auto 10%;
    min-height: 100vh;
}
#page header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    gap: 0.5rem;
    margin: auto;
    padding-top: 0.1rem;
    padding-bottom: 1rem;
}
#app > article > button {
    display: inline-block;
    width: 100%;
    padding: 5px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2200e6;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #999;
}
#app > article > button:hover {
    background-color: #4922f7;
    }
 
#app > article > button:active {
  background-color: #d30b0b;
  box-shadow: 0 5px rgb(14, 0, 0);
  transform: translateY(4px);
}
footer {
    display: flex;
    justify-content: center;
    background-color: #00aeef;
}
#italics {
    font-family: 'Calligraffitti';
}
img {
    max-width: 100%;
}
#modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal-bg > article {
    height:  33vh;
    width: 33vw;
    background-color: silver;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    border: solid 6px silver;
    align-items: center;
}
#image-div {
    border-radius: 15rem;
    height: 90%;
  }
#modal-bg > article > footer {
    display: flex;
    position: fixed;
    bottom: 300px;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    background-color: silver;
    border: solid 3px silver;
}
.contact-card {
    justify-content: space-between;
}
.contact-card > form > button {
    background-color: lightseagreen;
}
#modal-bg > article > form {
    padding: 1rem;
    justify-content: space-around;
}
#modal-bg > article > form > div {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#modal-bg > article > form > div > label {
    width: 50%;
    border: solid 0.5px;
    border-radius: 5px;
    margin-bottom: 2px;
    background-color: aliceblue;
}
#modal-bg > article > form > div > input {
    align-items: flex-end;
    border-radius: 10px;
}
#createButton {
    display: inline-block;
    width: 100%;
    padding: 5px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #999;
    background-color: lightseagreen;
}
#modal-button {
    background-color: lightseagreen;
}
#div-modal-buttons {
    border: solid 5px silver;
    background-color: silver;
}